<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto mb-2 mb-md-0">
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="{% url 'newapp:home' %}">Главная</a>
        </li>
        <li class="nav-item dropdown">
          {% if user.is_authenticated and user.is_blocked == False %}
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-expanded="false">Система управления рассылками</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown01">
            <li><a class="dropdown-item" href="{% url 'newapp:mailingrecipient_list' %}">Получатели</a></li>
            <li><a class="dropdown-item" href="{% url 'newapp:message_list' %}">Сообщения</a></li>
            <li><a class="dropdown-item" href="{% url 'newapp:newsletter_list' %}">Рассылки</a></li>
              <li><a class="dropdown-item" href="{% url 'newapp:message_attempt_list' %}">Попытки рассылок</a></li>
            {% endif %}
            {% if user.is_authenticated and user.is_staff or perms.users.can_manage_users and user.is_blocked == False %}
            <li><a class="dropdown-item" href="{% url 'users:user_list' %}">Пользователи</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-md-0">
  {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'newapp:user_statistics' %}">Cтатистика</a>
    </li>
    <li class="nav-item">
      <form method="post" action="{% url 'users:logout' %}" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="nav-link btn btn-link">Выход</button>
      </form>
    </li>
  {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'users:login' %}">Вход</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'users:register' %}">Регистрация</a>
    </li>
  {% endif %}
</ul>
    </div>
  </div>
</nav>
    </div>
  </div>
</nav>