{% extends 'newapp/home.html' %}
{% load my_tags %}
{% block content %}
<h1>Детали пользователя: {{ user_profile.username }}</h1>

<div class="user-details">
    <img src="{{ user_profile.avatar.url }}" class="card-img-top" alt="avatar"
         style="max-width: 150px; max-height: 150px; width: auto; height: auto;">

    <ul>
        <li><strong>Email:</strong> {{ user_profile.email }}</li>
        <li><strong>Имя:</strong> {{ user_profile.first_name }}</li>
        <li><strong>Номер телефона:</strong> {{ user_profile.phone_number }}</li>
        <li><strong>Страна:</strong> {{ user_profile.country }}</li>
    </ul>
    <div class="card">
        <div class="card-body">
            <a class="btn btn-primary" href="{% url 'users:change_password' %}">Изменить пароль</a>
        </div>
    </div>
</div>

{% endblock %}